<div class="dropdown-menu dropdown-menu-right w-15 mr-2">
    <form id="loginForm" class="px-4 py-3 needs-validation " method="post" novalidate>

        <div class="form-group">
            <label for="inputEmail" class="sr-only">{{ 'login.email'|trans }}</label>
            <input type="email" value="{{ last_username is defined ? last_username : '' }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'login.email'|trans }}" required autofocus>
            <div class="invalid-feedback">{{ 'login.validation.email'|trans }}</div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">{{ 'login.password'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'login.password'|trans }}" required>
            <div class="invalid-feedback">{{ 'login.validation.password'|trans }}</div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me">
                <label class="custom-control-label" for="customCheck1">{{ 'login.remember_me'|trans }}</label>
            </div>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit" class="btn btn-primary">{{ 'button.login'|trans }}</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('user_reset_password') }}">{{ 'login.forgot_pass'|trans }}</a>
</div>
