
{{ form_start(formGroup, { 'attr': {'id':'group_new_simple', 'class':'needs-validation', 'novalidate':'', 'action': path('group_new_simple') }}) }}
{{ form_label(formGroup.name, null, { 'label_attr': { 'class':'display-hidden'} }) }}
{{ form_widget(formGroup.name, { 'attr': { 'class':'display-hidden'} }) }}
{{ form_end(formGroup) }}

{{ form_start(form, { 'attr': {'id':'question_form', 'class':'needs-validation', 'novalidate':'', 'enctype':"multipart/form-data" }}) }}

<div class="accordion">
    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-general">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                    <i id="questionCaret1" class="fa fa-caret-down transition"></i>
                    <span class="pl-2">{{ 'general'|trans }} <b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b></span>
                </button>
            </h2>
        </div>
        <div id="home" class="tab-pane show" aria-labelledby="list-general list-general-list">
            <div class="card-body">
                <div class="form-group row">
                    {{ form_label(form.question_name, 'question.form.question_name_label'|trans ~ ' *', { 'label_attr': { 'class':'col-sm-2 col-form-label'} }) }}
                    <div class="col-sm-10 mb-3">
                        {{ form_widget(form.question_name, { 'attr': { 'class':'form-control'} }) }}
                        <div class="invalid-feedback ">
                            {{ 'question.validation.question_name'|trans }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.question_wording, 'question.form.question_wording_label'|trans ~ ' *', { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                    <div class="col-sm-10 mb-3">
                        {{ form_widget(form.question_wording, { 'attr': {'class':'form-control'} }) }}
                        <div class="invalid-feedback">
                            {{ 'question.validation.question_wording'|trans }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.description, null, { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                    <div class="col-sm-10 mb-3">
                        {{ form_widget(form.description, { 'attr': {'class':'form-control '} }) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.type, 'question.form.type_label'|trans ~ ' *', { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                    <div class="col-sm-10">
                        <div class="d-flex">
                            {% if question.type is not null %}
                                {{ form_widget(form.type, {'attr': {'class':'custom-select btn-no-right-radius', 'disabled':'' } }) }}
                            {% else %}
                                {{ form_widget(form.type, {'attr': {'class':'custom-select btn-no-right-radius' } }) }}
                            {% endif %}

                            {% if button_label == "button.save" %}
                                <button data-link="{{ path('question_edit', {'id': question.id })}}" class="btn btn-primary btn-no-left-radius questionTypeSave display-hidden questionTypeEditSave">{{ 'button.save'|trans }}</button>
                                <button class="btn btn-outline-dark btn-no-left-radius questionTypeRemove" data-toggle="tooltip" data-placement="top" title="{{ 'poppers.answer.remove_disclaimer'|trans }}"> {{ 'button.remove'|trans }}</button>
                            {% elseif button_label == "button.new" %}
                                {% if question.type is null %}
                                    <button class="btn btn-primary questionTypeSave btn-no-left-radius ">{{ 'button.save'|trans }}</button>
                                    <button class="btn btn-outline-dark btn-no-left-radius questionTypeRemove display-hidden" data-toggle="tooltip" data-placement="top" title="{{ 'poppers.answer.remove_disclaimer'|trans }}"> {{ 'button.remove'|trans }}</button>
                                {% else %}
                                    <button class="btn btn-primary questionTypeSave btn-no-left-radius display-hidden">{{ 'button.save'|trans }}</button>
                                    <button class="btn btn-outline-dark btn-no-left-radius questionTypeRemove" data-toggle="tooltip" data-placement="top" title="{{ 'poppers.answer.remove_disclaimer'|trans }}"> {{ 'button.remove'|trans }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="invalid-feedback"> {{ 'question.validation.type'|trans }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2">{{ 'question.form.required_label'|trans }}</label>
                    <div class="col-sm-10 my-2 pl-5 custom-control custom-switch">
                        {{ form_widget(form.required, { 'attr': {'class':'custom-control-input'} }) }}
                        {{ form_label(form.required, null, { 'label_attr': {'class':'custom-control-label'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-groups">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#groups" aria-expanded="false" aria-controls="groups">
                    <i id="questionCaret2" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'groups'|trans }}</span>
                </button>
            </h2>
        </div>
        <div id="groups" class="tab-pane collapse" aria-labelledby="list-groups list-groups-list" >
            <div class="card-body">
                <div class="form-group row">
                    {{ form_label(form.fk_group, null, { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                    <div class="col-sm-10 mb-3">
                        {{ form_widget(form.fk_group, { 'attr': {'class':'custom-select'} }) }}
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="group_simple_name" class="col-sm-2 col-form-label" >{{ 'group.title.new'|trans }}</label>
                    <a href="" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.group.add'|trans }}">
                        <i data-target=".group_simple" class="p-form text-dark pointer fa fa-plus-square groupAdd"></i>
                    </a>
                    <div class="display-hidden">
                        <div class="d-flex">
                            <p class="p-form text-success pr-2 pointer-default">{{ 'group.new_message'|trans }}</p>
                            <i class="px-0 text-success p-form fa fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col-sm-10 display-hidden">
                        <div class="d-flex">
                            <input  type="text" name="group_simple[name]" form="group_new_simple" class="form-control btn-no-right-radius group_simple" pattern=".{2,50}" required="required" placeholder="Įveskite grupės pavadinimą">
                            <button class="btn btn-primary btn-no-left-radius btn-no-right-radius" form="group_new_simple" type="submit">{{ 'button.new'|trans }}</button>
                            <button class="btn btn-outline-dark btn-no-left-radius groupRemove" form="group_new_simple">{{ 'button.cancel'|trans }}</button>
                        </div>
                        <small class="form-text text-muted">
                            {{ 'group.validation.name'|trans }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-answers">
            <h2 class="mb-0">
                {% if  question.type == 'one' or question.type == 'multi' %}
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#answers" aria-expanded="false" aria-controls="answers">
                    <i id="questionCaret3" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'answers'|trans }}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b></span>
                </button>
                {% else %}
                    <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none" data-target="#answers" aria-expanded="false" aria-controls="answers">
                        <i id="questionCaret3" class=" disabled-menu fa fa-caret-down transition rotation" ></i>
                        <span data-toggle="tooltip" data-placement="right" title="{{ 'poppers.answer.disabled_option'|trans }}" class="disabled-menu pl-2">{{ 'answers'|trans }}</span>
                    </button>
                {% endif %}
            </h2>
        </div>
        <div id="answers" class="tab-pane collapse " aria-labelledby="list-answers list-answers-list" >
            {% if  question.type == 'one' or question.type == 'multi' %}
            <div class="card-body answeroptions" data-prototype="{{ form_row(form.answeroptions.vars.prototype.answer)|e }}">
                {% set numb = 1 %}
                {% for answer in form.answeroptions %}
                    <div class="form-group row">
                        {{ form_label(answer.answer, 'question.form.answeroptions_label'|trans ~ ' ' ~ numb ~ ' ' ~ '*', { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                        <div class="col-sm-10 mb-3">
                            <div class="d-flex">
                                {{ form_widget(answer.answer) }}
                            </div>
                        </div>
                    </div>
                    {% set numb = numb +1 %}
                {% endfor %}
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-time">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#time" aria-expanded="false" aria-controls="time">
                    <i id="questionCaret4" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'time'|trans }}</span>
                </button>
            </h2>
        </div>
        <div id="time" class="tab-pane collapse" aria-labelledby="list-time list-time-list" >
            <div class="card-body">

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">{{ 'question.form.time_label'|trans }}</label>
                    <div class="col-sm-10 my-2 pl-5 custom-control custom-switch">
                        <input type="checkbox" name="question_attribute_time[value]" form="question_form" id="{{ question.id }}Time" class="custom-control-input" {% if attributes.time is defined and attributes.time is not empty %} checked {% endif %}/>
                        <label class="custom-control-label" for="{{ question.id }}Time">{{ 'question.form.time_description'|trans }}</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-buttonColor">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#buttonColor" aria-expanded="false" aria-controls="buttonColor">
                    <i id="questionCaret5" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'buttoncolor'|trans }} {% if attributes.buttonColors is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                </button>
            </h2>
        </div>
        <div id="buttonColor" class="tab-pane collapse" aria-labelledby="list-buttonColor list-buttonColor-list" >
            <div class="card-body buttoncolors" data-prototype='<div><label for="question_attribute_buttonColor___name___id" class="required">{{'attribute.button_color'|trans}}</label><input type="color" value="#007bff" id="question_attribute_buttonColor___name___id" name="question_attribute_buttonColor[__name__][id]" form="question_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" /></div>
            <span class="invalid-feedback uniqueBtnC"> {{ 'attribute.validation.unique'|trans }}</span>'>

                <i class="form-text text-muted mb-3">{{ attributeText.buttonColor.description }}</i>

                {% set numb = 1 %}
                {% for key, bc in attributes.buttonColors %}
                    <div class="form-group row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">{{ 'attribute.button_color'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                        <div class="col-sm-10 mb-3">
                            <div class="d-flex">
                                {% if (app.request.get('_route')) == 'question_edit' %}
                                    <input type="color" value="{{ bc.value }}" id="question_attribute_buttonColor_{{ key }}_id" name="question_attribute_buttonColor[{{ key }}][{{ bc.id }}]" form="question_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" />
                                {% else  %}
                                    <input type="color" value="{{ bc | first }}" id="question_attribute_buttonColor_{{ key }}_id" name="question_attribute_buttonColor[{{ key }}][{{ bc| keys |first }}]" form="question_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" />
                                {% endif %}

                            </div>
                            <span class="invalid-feedback uniqueBtnC"> {{ 'attribute.validation.unique'|trans }}</span>
                        </div>
                        {% set numb = numb +1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-backgroundColor">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#backgroundColor" aria-expanded="false" aria-controls="backgroundColor">
                    <i id="questionCaret6" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'backgroundcolor'|trans }} {% if attributes.backgroundColors is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                </button>
            </h2>
        </div>
        <div id="backgroundColor" class="tab-pane collapse" aria-labelledby="list-backgroundColor list-backgroundColor-list" >
            <div class="card-body backgroundColors" data-prototype='<div><label for="question_attribute_backgroundColor___name___id" class="required">{{'attribute.background_color'|trans}}</label><input type="color" value="#FFFFFF" id="question_attribute_backgroundColor___name___id" name="question_attribute_backgroundColor[__name__][id]" form="question_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" /></div>
            <span class="invalid-feedback uniqueBgC"> {{ 'attribute.validation.unique'|trans }}</span>'>

                <i class="form-text text-muted mb-3">{{ attributeText.backgroundColor.description }}</i>

                {% set numb = 1 %}
                {% for key, bc in attributes.backgroundColors %}
                    <div class="form-group row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">{{ 'attribute.background_color'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                        <div class="col-sm-10 mb-3">
                            <div class="d-flex">
                                {% if (app.request.get('_route')) == 'question_edit' %}
                                    <input type="color" value="{{ bc.value }}" id="question_attribute_backgroundColor_{{ key }}_id" name="question_attribute_backgroundColor[{{ key }}][{{ bc.id }}]" form="question_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" />
                                {% else  %}
                                    <input type="color" value="{{ bc | first }}" id="question_attribute_backgroundColor_{{ key }}_id" name="question_attribute_backgroundColor[{{ key }}][{{ bc| keys |first }}]" form="question_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" />
                                {% endif %}
                            </div>
                            <span class="invalid-feedback uniqueBgC"> {{ 'attribute.validation.unique'|trans }}</span>
                        </div>
                        {% set numb = numb +1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-displayTime">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#displayTime" aria-expanded="false" aria-controls="displayTime">
                    <i id="questionCaretDT" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'displaytime'|trans }} {% if attributes.displayTimes is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                </button>
            </h2>
        </div>
        <div id="displayTime" class="tab-pane collapse" aria-labelledby="list-displayTime list-displayTime-list" >
            <div class="card-body displayTimes" data-prototype='<label for="question_attribute_displayTime___name___id" class="required">{{'attribute.display_time'|trans}}</label>
                    <block>
                     <input type="number" id="question_attribute_displayTime___name___id" name="question_attribute_displayTime[__name__][id]" form="question_form" required="required" class="text-center form-control t" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" min="0" max="9999" maxlength="99999" />
                    <input type="number" id="question_attribute_displayTime___name___type" name="question_attribute_displayTime[__name__][type]" form="question_form" required="required"  class="text-center form-control bool" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}"  min="0" max="1" maxlength="1" />
                    <input type="number" id="question_attribute_displayTime___name___vis" name="question_attribute_displayTime[__name__][vis]" form="question_form" required="required" class="text-center form-control bool" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}"  min="0" max="1" maxlength="1" />
                    </block>'>

                <i class="form-text text-muted mb-3">{{ attributeText.displayTime.description }}</i>

                {% set numb = 1 %}
                {% for key, bc in attributes.displayTimes %}

                    {% set displayTime = bc.value|split(':') %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ 'attribute.display_time'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                        <div class="col-sm-10 mb-3">
                            <div class="d-flex input-group">
                                {% if (app.request.get('_route')) == 'question_edit' %}
                                    <input type="number" value="{{ displayTime[0] }}" id="question_attribute_displayTime_{{ key }}_id" name="question_attribute_displayTime[{{ key }}][{{ bc.id }}]" form="question_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ displayTime[1] }}" id="question_attribute_displayTime_{{ key }}_type" name="question_attribute_displayTime[{{ key }}][type]" form="question_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ displayTime[2] }}" id="question_attribute_displayTime_{{ key }}_vis" name="question_attribute_displayTime[{{ key }}][vis]" form="question_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                {% else  %}
                                    <input type="number" value="{{ bc | first }}" id="question_attribute_displayTime_{{ key }}_id" name="question_attribute_displayTime[{{ key }}][{{ bc| keys |first }}]" form="question_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ bc.type }}" id="question_attribute_displayTime_{{ key }}_type" name="question_attribute_displayTime[{{ key }}][type]" form="question_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ bc.vis }}" id="question_attribute_displayTime_{{ key }}_vis" name="question_attribute_displayTime[{{ key }}][vis]" form="question_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                {% endif %}

                            </div>
                        </div>
                        {% set numb = numb +1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-picture">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#picture" aria-expanded="false" aria-controls="picture">
                    <i id="questionCaret7" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'picture'|trans }} {% if attributes.pictures is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                </button>
            </h2>
        </div>
        <div id="picture" class="tab-pane collapse" aria-labelledby="list-picture list-picture-list" >
            <div class="card-body pictures" data-prototype='<input type="file" id="question_attribute_picture___name___id" name="question_attribute_picture[__name__][id]" form="question_form" class="uniquePicture custom-file-input" accept=".png, .jpg, .jpeg" />
            <label for="question_attribute_picture___name___id" class="custom-file-label"> {{ 'attribute.file_choose'|trans }} </label>
            <span class="invalid-feedback uniquePicture"> {{ 'attribute.validation.required'|trans }}</span>'>

                <i class="form-text text-muted mb-3">{{ attributeText.picture.description }}</i>

                {% for key, pic in attributes.pictures %}
                <div class="mb-4">
                    <div class="input-group ">
                        <div class="custom-file">
                            <input type="file" id="question_attribute_picture_{{ key }}_id" name="question_attribute_picture[{{ key }}][{{ pic.id }}]" form="question_form" class="uniquePicture custom-file-input" accept=".png, .jpg, .jpeg" />
                            <label for="question_attribute_picture_{{ key }}_id" class="custom-file-label"> {{ pic.value }} </label>
                            </div>
                        <div class="input-group-append">
                        </div>
                    </div>
                    <span class="invalid-feedback uniquePicture"> {{ 'attribute.validation.required'|trans }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header bg-transparent p-0" id="list-file">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#file" aria-expanded="false" aria-controls="file">
                    <i id="questionCaret8" class="fa fa-caret-down transition rotation" ></i>
                    <span class="pl-2">{{ 'file'|trans }}</span>
                </button>
            </h2>
        </div>
        <div id="file" class="tab-pane collapse" aria-labelledby="list-file list-file-list" >
            <div class="card-body">

                <div class="input-group">
                    <div class="custom-file">
                        {% if file is defined %}
                            <input type="text" name="question_file[file]" class="display-hidden" form="question_form" value="1" />
                            <input type="file" name="file" class="uniqueFile custom-file-input" id="customFile" accept=".png, .jpg, .jpeg" form="question_form"/>
                            <label class="custom-file-label" for="customFile" >{% if file is not null %} {{ file }} {% else %} {{ 'attribute.file_choose'|trans }} {% endif %} </label>
                        {% else %}
                            <input type="file" name="file" class="uniqueFile custom-file-input" id="customFile" accept=".png, .jpg, .jpeg" form="question_form"/>
                            <label class="custom-file-label"  >{{ 'attribute.file_choose'|trans }} </label>
                        {% endif %}
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark px-3" type="button" id="fileRemove" data-action="{{ 'attribute.file_choose'|trans }}">{{ 'button.delete'|trans }}</button>
                    </div>
                </div>
                <span class="invalid-feedback uniqueFile">{{ 'attribute.validation.file'|trans }} </span>
                <small class="form-text text-muted">
                    {{ 'attribute.file_help'|trans }}
                </small>
            </div>
        </div>
    </div>
    <div class="card border-light">
        <div class="card-header bg-transparent p-0" id="list-save">
            <h2 class="mb-0">
                {% if (app.request.get('_route')) == 'question_edit' %}
                <button class="btn btn-block btn-primary questionEditSave btn-save btn-no-top-radius" data-link="{{ path('question_edit', {'id': question.id })}}">{{ button_label|default('Save')|trans }}</button>
                {% else %}
                <button class="btn btn-block btn-primary questionSave btn-save btn-no-top-radius" data-link="{{ path('question_new_save')}}" >{{ button_label|default('Save')|trans }}</button>
                {% endif %}
{#                <button class="btn btn-block btn-primary btn-save btn-no-top-radius" data-link="{{ path('question_edit', {'id': question.id })}}" >{{ button_label|default('Save')|trans }}</button>#}
{#                <button class="btn btn-block btn-primary btn-save btn-no-top-radius" data-link="{{ path('question_new')}}" >{{ button_label|default('Save')|trans }}</button>#}
{#                <button class="btn btn-block btn-primary questionSave btn-save btn-no-top-radius" data-link="{{ path('question_new_save')}}" >{{ button_label|default('Save')|trans }}</button>#}
            </h2>
        </div>
    </div>
</div>
{{ form_end(form) }}






