{{ form_start(form) }}

                    {#{% for error in form.vars.errors.form.getErrors(true) %}#}
                    {#<div class="alert alert-danger">{{ error.message }}</div>#}
                    {#{% endfor %}#}

                    {{ form_label(form.question) }}
                    {{ form_widget(form.question, { 'attr': {'class':'form-control mb-3'} }) }}

                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, { 'attr': {'class':'form-control mb-3'} }) }}

                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, { 'attr': {'class':'form-control mb-3'}}) }}

                    {{ form_label(form.fk_group) }}
                    {{ form_widget(form.fk_group, { 'attr': {'class':'form-control mb-3'}}) }}

                    {{ form_label(form.fk_test) }}
                    {{ form_widget(form.fk_test, { 'attr': {'class':'form-control mb-3'}}) }}
<button class="btn btn-block btn-outline-primary" type="submit">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

<div class="accordion" id="accordionExample">
    <div class="tab-content" id="nav-tabContent">

        <div class="card">
            <div class="card-header" id="list-general">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                        Bendra
                    </button>
                </h2>
            </div>
            <div id="home" class="tab-pane collapse show" aria-labelledby="list-general list-general-list" data-parent="#accordionExample">
                <div class="card-body">
                    {{ form_start(form) }}

                    {#{% for error in form.vars.errors.form.getErrors(true) %}#}
                    {#<div class="alert alert-danger">{{ error.message }}</div>#}
                    {#{% endfor %}#}

                    {{ form_label(form.question) }}
                    {{ form_widget(form.question, { 'attr': {'class':'form-control mb-3'} }) }}

                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, { 'attr': {'class':'form-control mb-3'} }) }}

                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, { 'attr': {'class':'form-control mb-3'}}) }}

                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, { 'attr': {'class':'form-control mb-3'}}) }}

                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, { 'attr': {'class':'form-control mb-3'}}) }}
                    <button class="btn btn-block btn-outline-primary" type="submit">{{ button_label|default('Save') }}</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                        Collapsible #1 trigger
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    Collapsible #1 element
                </div>
            </div>
        </div>

    </div>
</div>
