{% extends 'admin.html.twig' %}

{% block title %} {{ 'question.title.edit'|trans }} | ETS{% endblock %}

{% block admin_right_nav %}

    <ul class="section-nav">
        <li class="toc-entry">
            <p>{{ 'side_nav.navigation'|trans }}:</p>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-general" data-target="#home" data-target-animation="#questionCaret1" aria-controls="home">{{ 'general'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-groups" data-target="#groups" data-target-animation="#questionCaret2" aria-controls="groups">{{ 'groups'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-answers" data-target="#answers" data-target-animation="#questionCaret3" aria-controls="answers">{{ 'answers'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-time" data-target="#time" data-target-animation="#questionCaret4" aria-controls="time">{{ 'time'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-buttonColor" data-target="#buttonColor" data-target-animation="#questionCaret5" aria-controls="buttonColor">{{ 'buttoncolor'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-backgroundColor" data-target="#backgroundColor" data-target-animation="#questionCaret6" aria-controls="backgroundColor">{{ 'backgroundcolor'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-displayTime" data-target="#displayTime" data-target-animation="#questionCaretDT" aria-controls="displayTime">{{ 'displaytime'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-picture" data-target="#picture" data-target-animation="#questionCaret7" aria-controls="picture">{{ 'picture'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-file" data-target="#file" data-target-animation="#questionCaret8" aria-controls="file">{{ 'file'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-save">{{ 'button.save'|trans }}</a>
        </li>
        <div class="my-3"></div>
        <li class="toc-entry">
            <a href="" data-toggle="modal" data-target="#questionModal{{ question.id }}Delete" class="modal-append-show badge badge-danger text-white">{{ 'question.button.delete'|trans }}</a>

            <div class="modal fade" id="questionModal{{ question.id }}Delete" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="questionModalLabel">{{ 'question.delete_message'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-between">
                                {{ include('question/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}

{% block admin_main %}

    <h1>{{ 'question.title.edit'|trans  }}</h1>
    {{ include('question/_form.html.twig', {'button_label': 'button.save'}) }}

{% endblock %}

