{% extends 'base.html.twig' %}

{% block title %} {{ 'question.title.example'|trans }} | ETS{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-8 col-md-5 col-xl-5 mt-15 px-md-3 q-content">
        {% if  question.type == 'multi' %}

            <div class="d-flex my-3">
                <h3 class="label-number-gap"><span>{{ random(20) }}.</span></h3>
                <h3> {{ question.questionWording }}</h3>
            </div>
            <div class="container py-3">
                <div class="row">
                    {% set anwerNumeber = 0 %}
                    {% for answer in answers %}
                        {% set anwerNumeber = anwerNumeber +1 %}
                        <div class="w-100 mx-5 mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck{{ anwerNumeber }}">
                                <label class="text-unselectable custom-control-label" for="customCheck{{ anwerNumeber }}">{{ answer.answer }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container mt-3">
                <div class="row justify-content-between">
                    <div>
                        <button class="ml-5 btn btn-primary">{{ 'answer.prev_question'|trans }}</button>
                    </div>
                    <div>
                        <button class="mr-5 btn btn-primary">{{ 'answer.next_question'|trans }}</button>
                    </div>
                </div>
            </div>

        {% elseif question.type == 'one' %}

            <div class="d-flex my-3">
                <h3 class="label-number-gap"><span>{{ random(20) }}.</span></h3>
                <h3> {{ question.questionWording }}</h3>
            </div>
            <div class="container py-3">
                <div class="row">
                    {% set anwerNumeber = 0 %}
                    {% for answer in answers %}
                        {% set anwerNumeber = anwerNumeber +1 %}
                        <div class="w-100 mx-5 mb-3">
                            <div class=" custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="inlineRadioOptions" id="customRadio{{ anwerNumeber }}">
                                <label class="custom-control-label test-question-label" for="customRadio{{ anwerNumeber }}">{{ answer.answer }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container mt-3">
                <div class="row justify-content-between">
                    <div>
                        <button class="ml-5 btn btn-primary ">{{ 'answer.prev_question'|trans }}</button>
                    </div>
                    <div>
                        <button class="mr-5 btn btn-primary">{{ 'answer.next_question'|trans }}</button>
                    </div>
                </div>
            </div>

        {% elseif question.type == 'open' %}

            <div class="d-flex my-3">
                <h3 class="label-number-gap"><span>{{ random(20) }}.</span></h3>
                <h3> {{ question.questionWording }}</h3>
            </div>
            <div class="container py-3">
                <div class="row">
                    <div class="w-100 mx-5 mb-3">
                        <textarea class="form-control" placeholder="{{ 'answer.placeholder'|trans }}" required></textarea>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row justify-content-between">
                    <div>
                        <button class="ml-5 btn btn-primary">{{ 'answer.prev_question'|trans }}</button>
                    </div>
                    <div>
                        <button class="mr-5 btn btn-primary">{{ 'answer.next_question'|trans }}</button>
                    </div>
                </div>
            </div>

        {% elseif question.type == 'presentation' %}

            <div class="d-flex p-3">
                <h2> {{ question.questionWording }}</h2>
            </div>

            <div class="container mt-3">
                <div class="row justify-content-between">
                    <div>
                        <button class="ml-5 btn btn-primary">{{ 'answer.prev_question'|trans }}</button>
                    </div>
                    <div>
                        <button class="mr-5 btn btn-primary">{{ 'answer.next_question'|trans }}</button>
                    </div>
                </div>
            </div>

        {% endif %}
        </div>
        <div class="col-8 col-md-3 col-xl-3 offset-1 mr-5 mt-5 p-0">

            <div class="card text-white bg-primary mb-3" >
                <div class="card-header text-center">Nustatymai</div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="card text-white bg-primary mb-3 w-49-5">
                    <div class="card-body">
                        <h5 class="card-title">Klausimo atributai</h5>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle text-left btn btn-light btn-block mb-2" id="dropdownBC" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 badge badge-primary">2</span> Fono Spalva
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBC">
                                <h6 class="dropdown-header">Spalvos:</h6>
                                <a class="dropdown-item px-2" href="#">1. <span class="ml-2 py-2 badge w-75" style="background-color:#0080FF;">&nbsp;</span></a>
                                <a class="dropdown-item px-2" href="#">2. <span class="ml-2 py-2 badge w-75" style="background-color:#DF013A;">&nbsp;</span></a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle text-left btn btn-light btn-block mb-2" id="dropdownBtnC" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 badge badge-primary">2</span> Mygtuko spalva
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBtnC">
                                <h6 class="dropdown-header">Spalvos:</h6>
                                <a class="dropdown-item px-2" href="#">1. <span class="ml-2 py-2 badge w-75" style="background-color:#0080FF;">&nbsp;</span></a>
                                <a class="dropdown-item px-2" href="#">2. <span class="ml-2 py-2 badge w-75" style="background-color:#DF013A;">&nbsp;</span></a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle text-left btn btn-light btn-block mb-2" id="dropdownBtnC" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 badge badge-primary">3</span> Paveikslėlis
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBtnC">
                                <h6 class="dropdown-header">Pav:</h6>
                                <a class="dropdown-item px-2 active" href="#">1. <img src="..." class="mr-3" alt="..."></a>
                                <a class="dropdown-item px-2" href="#">2. <img src="..." class="mr-3" alt="..."></a>
                                <a class="dropdown-item px-2" href="#">3. <img src="..." class="mr-3" alt="..."></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3 w-49-5">
                    <div class="card-body">
                        <h5 class="card-title">Testo atributai</h5>
                        <div class="text-center">
                            <i class="card-text">Atributų nėra</i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
