{% extends 'admin.html.twig' %}

{% block title %} {{ 'question.title.index'|trans }} | ETS{% endblock %}

{% block admin_right_nav %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class='alert-message'>{{ message|trans }}</span>
            </div>
        {% endfor %}
    {% endfor %}
     <ul class="section-nav">

         {{ include('group/index.html.twig') }}

         <div class="my-3"></div>

         {{ include('group/new.html.twig') }}
     </ul>
{% endblock %}

{% block admin_main %}
    <h1>{{ 'question.title.index'|trans }}</h1>
    <div class="table-responsive table-header-sticky">
        <table id="tableheader" class="table table-borderless bg-blue mb-0 text-white table-header">
            <thead>
                <tr id="question-index-sort">
                    <th scope="col" colspan="2">
                        <span class="pr-2">{{ 'question.form.question_name_label'|trans }}</span>
                        <a class="text-light" href="{{ path('question_index', { 'slug':'question_name' , 'sort': app.session.get('question_name') }) }}">
                            <i id="questionIndexCaret1" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.sort.question_name'|trans }}" class="questionSort pointer fa {{ app.session.get('question_name') }}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <span class="pr-2">{{ 'question.form.type_label'|trans }}</span>
                        <a class="text-light" href="{{ path('question_index', { 'slug':'type' , 'sort':app.session.get('type') }) }}">
                            <i id="questionIndexCaret2" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.sort.type'|trans }}" class="questionSort pointer fa {{ app.session.get('type') }}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <span class="pr-2">{{ 'question.form.fk_group_label'|trans }}</span>
                        <a class="text-light" href="{{ path('question_index', { 'slug':'group' , 'sort':app.session.get('group') }) }}">
                            <i id="questionIndexCaret3" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.sort.group'|trans }}" class="questionSort pointer fa {{  app.session.get('group') }}"></i>
                        </a>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless mb-0">
            <tbody>
            {% for question in questions %}
                    <tr>
                        <td colspan="2">
                            <p>{{ question.questionname|trans }}</p>
                        </td>
                        <td>
                            <p>{{ question.type|trans }}</p>
                        </td>
                        <td>
                            <p>
                            {% if question.fkGroup is null %}
                                <i>{{ 'blank'|trans }}</i>
                            {% else %}
                                {{ question.fkGroup.name }}
                            {% endif %}
                            </p>
                        </td>
                        <td>
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.show'|trans }}" class="pr-2" href="{{ path('question_show', {'id': question.id}) }}"><i class="fa fa-file"></i></a>
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.edit'|trans }}" class="pr-2" href="{{ path('question_edit', {'id': question.id}) }}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="my-2"></div>
{% endblock %}