{% extends 'admin.html.twig' %}

{% block title %}question.index{% endblock %}

{% block admin_right_nav %}
    <div class="card">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        </div>
    </div>
{% endblock %}

{% block admin_main %}
    <div class="card border-primary">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-borderless mb-0">
                    <thead>
                    <tr class="text-blue">
                        <th scope="col">{{ 'question.description.label'|trans }}</th>
                        <th scope="col">{{ 'question.type.label'|trans }}</th>
                        <th scope="col">{{ 'question.active'|trans }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="my-3"></div>

    {% for question in questions %}
        <div class="card">
            <div class="card-header py-1">
                <td>{{ question.question|trans }}</td>
            </div>
            <ul class="list-group list-group-flush ">
                <table class="table table-borderless mb-0">
                    <tbody>
                    <tr>
                        <td>{{ question.description|trans }}</td>
                        <td>{{ question.type|trans }}</td>
                        <td>
                            <a href="{{ path('question_show', {'id': question.id}) }}">{{ 'button.show'|trans }}</a>
                            <a href="{{ path('question_edit', {'id': question.id}) }}">{{ 'button.edit'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ul>
        </div>
        <div class="my-2"></div>
    {% endfor %}
{% endblock %}