{% extends 'admin.html.twig' %}

{% block title %} {{ 'question.title.new'|trans }} | ETS{% endblock %}

{% block admin_right_nav %}
    <ul class="section-nav">
        <li class="toc-entry">
            <p>{{ 'side_nav.navigation'|trans }}:</p>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-general" data-target="#home" data-target-animation="#questionCaret1" aria-controls="home">{{ 'general'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-groups" data-target="#groups" data-target-animation="#questionCaret2" aria-controls="groups">{{ 'groups'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-answers" data-target="#answers" data-target-animation="#questionCaret3" aria-controls="answers">{{ 'answers'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-settings" data-target="#settings" data-target-animation="#questionCaret4" aria-controls="settings">{{ 'time'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-buttonColor" data-target="#buttonColor" data-target-animation="#questionCaret5" aria-controls="buttonColor">{{ 'buttoncolor'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-backgroundColor" data-target="#backgroundColor" data-target-animation="#questionCaret6" aria-controls="backgroundColor">{{ 'backgroundcolor'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-displayTime" data-target="#displayTime" data-target-animation="#questionCaretDT" aria-controls="displayTime">{{ 'displaytime'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-file" data-target="#file" data-target-animation="#questionCaret6" aria-controls="file">Failai</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-save">{{ 'button.new'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block admin_main %}

    <h1>{{ 'question.title.new'|trans }}</h1>
    {{ include('question/_form.html.twig', {'button_label': 'button.new'}) }}

{% endblock %}
