{# templates/emails/registration.html.twig #}
<div class="jumbotron">
    <h1 class="display-4 mb-1">Labas, {{ user.name }}!</h1>
    <p class="lead">Sveiki atvykę į eksperimentinių apklausų kūrimo sistemą. Paspauskite žemiau pateiką nuorodą, kad patvirtintumėte registaciją.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{ path('registration_confirm', {'string': user.activation}) }}" role="button">Patvirtinti registaciją</a>
</div>
<div class="row justify-content-center">
    <p class="mb-3"> Jūsų prisijungimo duomenys:</p>
</div>
<div class="row justify-content-center">
    <table class="table table-bordered w-50 float-left ">
        <tbody>
        <tr>
            <td >Elektroninis paštas</td>
            <td class="text-center">{{ user.email }}</td>
        </tr>
        <tr>
            <td >Vardas</td>
            <td class="text-center">{{ user.name }}</td>
        </tr>
        <tr>
            <td >Pavardė</td>
            <td class="text-center">{{ user.lastName }}</td>
        </tr>
        </tbody>
    </table>
</div>