<form action="{{ path('group_edit', {id: group.id}) }}" method="post" class=" needs-validation" novalidate>
    <div class="modal-body">

        <div class="form-group row">
            <label for="inputgroupname{{ group.id }}" class="col-sm-12 col-form-label">{{ 'group.form.name_label'|trans }}</label>
            <div class="col-sm-12">
                <input type="text" name="group[name]" class="form-control" id="inputgroupname{{ group.id }}" value="{{ group.name }}" placeholder="{{ 'group.form.name_input_placeholder'|trans }}" required pattern=".{2,50}">
                <div class="invalid-feedback">
                    {{ 'group.validation.name'|trans }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputgroupdesc{{ group.id }}" class="col-sm-12 col-form-label">{{ 'group.form.description_label'|trans }}</label>
            <div class="col-sm-12">
                <textarea class="form-control" name="group[description]" id="inputgroupdesc{{ group.id }}" placeholder="{{ 'group.form.description_input_placeholder'|trans }}">{{ group.description }}</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-block btn-primary btn-no-top-radius" type="submit">{{ button_label|default('Save') }}</button>
    </div>
</form>