{# inside group/index.html.twig #}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'group.title.show'|trans }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <fieldset disabled>
        <div class="form-group row">
            <label for="inputgroupname" class="col-sm-12 col-form-label">{{ 'group.form.name_label'|trans }}</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="inputgroupname" value="{{ group.name }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputgroupdesc" class="col-sm-12 col-form-label">{{ 'group.form.description_label'|trans }}</label>
            <div class="col-sm-12">
                {% if group.description == null %}
                <textarea class="form-control" id="inputgroupdesc">{{ 'blank'|trans }}</textarea>
                {% else %}
                <textarea class="form-control" id="inputgroupdesc">{{ group.description }}</textarea>
                {% endif %}
            </div>
        </div>
    </fieldset>
</div>

<div class="modal-footer-custom ">
    {{ include('group/edit.html.twig') }}
</div>



