{% extends 'admin.html.twig' %}

{% block title %} {{ 'attribute.title.index'|trans }} | ETS{% endblock %}


    {% block admin_right_nav %}
    {% endblock %}

    {% block admin_main %}
        <h1 class="d-inline float-left">{{ 'attribute.title.index'|trans }}</h1>
        <span class="float-right mt-1">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                        <span class="pl-2" aria-hidden="true">&times;</span>
                    </button>
                    <span class='alert-message'>{{ message|trans }}</span>
                </div>
            {% endfor %}
        {% endfor %}
        </span>
        <div class="float-none"></div>

        <div class="table-responsive table-header-sticky">
            <table id="tableheader" class="table table-borderless bg-blue mb-0 text-white table-header table-index">
                <thead>
                <tr>
                    <th scope="col">
                        <span>{{ 'question.form.type_label'|trans }}</span>
                    </th>
                    <th scope="col" colspan="5">
                        <span>{{ 'question.form.description_label'|trans }}</span>
                    </th>
                    <th scope="col">{{ 'actions'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-borderless mb-0 table-index">
                <tbody>
                {% for attribute in attributes %}
                    <tr>
                        <td >{{ attribute.name|trans }}</td>
                        <td colspan="5"><span class="pre">{{ attribute.description }}</span></td>
                        <td class="d-flex justify-content-around">
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.edit'|trans }}"  href="{{ path('attribute_edit', {'id': attribute.id}) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}
