{{ form_start(form, { 'attr': { 'id':'test_form', 'class':'needs-validation', 'novalidate':'', 'enctype':"multipart/form-data" }}) }}

<div class="accordion">

    {# Testo informacija. Testo formos laukeliai #}
    <div class="overflow-hidden">
        <div class="card bg-light btn-no-bottom-radius border-bottom-0">
            <div class="card-header p-0" id="list-general">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                        <i id="testCaret1" class="fa fa-caret-down transition"></i>
                        <span class="pl-2">{{ 'general'|trans }}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b></span>
                    </button>
                </h2>
            </div>
            <div id="home" class="tab-pane show " aria-labelledby="list-general list-general-list">
                <div class="card-body">
                    <div class="form-group row">
                        {{ form_label(form.name, 'test.form.test_name_label'|trans ~ ' *', { 'label_attr': { 'class':'col-sm-2 col-form-label'} }) }}
                        <div class="col-sm-10 mb-3">
                            {{ form_widget(form.name, { 'attr': { 'class':'form-control'} }) }}
                            <div class="invalid-feedback ">
                                {{ 'test.validation.name'|trans }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.description, null, { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                        <div class="col-sm-10 mb-3">
                            {{ form_widget(form.description, { 'attr': {'class':'form-control '} }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.code, null, { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                        <div class="col-sm-10 mb-3">
                            {{ form_widget(form.code, { 'attr': {'class':'form-control', 'readonly':''} }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">{{ 'test.form.prev_button_label'|trans }}</label>
                        <div class="col-sm-10 my-2 pl-5 custom-control custom-switch">
                            {{ form_widget(form.prev_button, { 'attr': {'class':'custom-control-input'} }) }}
                            {{ form_label(form.prev_button, null, { 'label_attr': {'class':'custom-control-label'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Testo aktyvacijos informacija. Testo formos aktyvacijos laukeliai #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-activation">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#activation" aria-expanded="false" aria-controls="activation">
                        <i id="testCaret2" class="fa fa-caret-down transition rotation" ></i>
                        <span class="pl-2">{{ 'activation'|trans }}</span>
                    </button>
                </h2>
            </div>
            <div id="activation" class="tab-pane collapse" aria-labelledby="list-activation list-activation-list" >
                <div class="card-body">
                    <div class="form-group row date">
                        {{ form_label(form.test_start, null, { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                        <div class="col-sm-10 mb-3 input-group date datepicker" id="datetimepicker2" data-target-input="nearest">
                            {{ form_widget(form.test_start, { 'attr': {'class':'form-control datetimepicker-input', 'data-target':'#datetimepicker2', 'data-toggle':'popover', 'data-placement':'bottom', 'data-content':'poppers.test.activation_desc' |trans  } }) }}
                            <div class="input-group-append" data-toggle="datetimepicker" data-target="#datetimepicker2">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="invalid-feedback">
                                {{ 'test.validation.date'|trans }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row date">
                        {{ form_label(form.test_end, null, { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                        <div class="col-sm-10 mb-3 input-group date datepicker" id="datetimepicker1" data-target-input="nearest">
                            {{ form_widget(form.test_end, { 'attr': {'class':'form-control datetimepicker-input', 'data-target':'#datetimepicker1'} }) }}
                            <div class="input-group-append" data-toggle="datetimepicker" data-target="#datetimepicker1">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">{{ 'test.form.is_active_label'|trans }}</label>
                        <div class="col-sm-10 my-2 pl-5 custom-control custom-switch">
                            {{ form_widget(form.is_active, { 'attr': {'class':'custom-control-input'} }) }}
                            {{ form_label(form.is_active, null, { 'label_attr': {'class':'custom-control-label'} }) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {# Testo klausimų informacija. #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-questions">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#questions" aria-expanded="false" aria-controls="questions">
                        <i id="testCaret3" class="fa fa-caret-down transition rotation"></i>
                        <span class="pl-2">{{ 'questions'|trans }}{% if form.testquestions is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                    </button>
                </h2>
            </div>
            <div id="questions" class="tab-pane collapse" aria-labelledby="list-questions list-questions-list" >
                <div class="card-body testquestions" data-prototype="{{ form_row(form.testquestions.vars.prototype.fk_question)|e }}">
                    {% set numb = 1 %}
                    {% for question in form.testquestions %}
                        <div class="form-group row">
                            {{ form_label(question.fk_question, 'test.form.test_question_label'|trans ~ ' Nr.' ~ numb ~ ' *', { 'label_attr': {'class':'col-sm-2 col-form-label'} }) }}
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex">
                                    {{ form_widget(question.fk_question) }}
                                </div>
                            </div>
                        </div>
                        {% set numb = numb +1 %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Testo laiko savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-settings">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#settings" aria-expanded="false" aria-controls="settings">
                        <i id="testCaret4" class="fa fa-caret-down transition rotation" ></i>
                        <span class="pl-2">{{ 'time'|trans }}{% if attributes.times is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                    </button>
                </h2>
            </div>
            <div id="settings" class="tab-pane collapse" aria-labelledby="list-settings list-settings-list" >
                <div class="card-body times" data-prototype='<label for="test_attribute_time___name___id" class="required">{{'attribute.time'|trans}}</label>
                <block>
                 <input type="number" id="test_attribute_time___name___id" name="test_attribute_time[__name__][id]" form="test_form" required="required" class="text-center form-control t" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" min="0" max="9999" maxlength="99999" />
                <input type="number" id="test_attribute_time___name___type" name="test_attribute_time[__name__][type]" form="test_form" required="required"  class="text-center form-control bool" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}"  min="0" max="1" maxlength="1" />
                <input type="number" id="test_attribute_time___name___vis" name="test_attribute_time[__name__][vis]" form="test_form" required="required" class="text-center form-control bool" placeholder="{{ 'attribute.display_time_placeholder_vis'|trans }}"  min="0" max="1" maxlength="1" />
                </block>'>
                    <i class="form-text text-muted mb-3">{{ attributeText.time.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.times %}
                        {% set Time = bc.value|split(':') %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'attribute.time'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex input-group">
                                    {% if (app.request.get('_route')) == 'test_edit' %}
                                        <input type="number" value="{{ Time[0] }}" id="test_attribute_time_{{ key }}_id" name="test_attribute_time[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ Time[1] }}" id="test_attribute_time_{{ key }}_type" name="test_attribute_time[{{ key }}][type]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ Time[2] }}" id="test_attribute_time_{{ key }}_vis" name="test_attribute_time[{{ key }}][vis]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_vis'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                    {% else  %}
                                        <input type="number" value="{{ bc | first }}" id="test_attribute_time_{{ key }}_id" name="test_attribute_time[{{ key }}][{{ bc| keys |first }}]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ bc.type }}" id="test_attribute_time_{{ key }}_type" name="test_attribute_time[{{ key }}][type]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ bc.vis }}" id="test_attribute_time_{{ key }}_vis" name="test_attribute_time{{ key }}][vis]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_vis'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                    {% endif %}
                                </div>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Testo mygtuko salvos savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-buttonColor">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#buttonColor" aria-expanded="false" aria-controls="buttonColor">
                        <i id="testCaret5" class="fa fa-caret-down transition rotation" ></i>
                        <span class="pl-2">{{ 'buttoncolor'|trans }} {% if attributes.buttonColors is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                    </button>
                </h2>
            </div>
            <div id="buttonColor" class="tab-pane collapse" aria-labelledby="list-buttonColor list-buttonColor-list" >
                <div class="card-body buttoncolors" data-prototype='<div><label for="test_attribute_buttonColor___name___id" class="required">{{'attribute.button_color'|trans}}</label><input type="color" value="#007bff" id="test_attribute_buttonColor___name___id" name="test_attribute_buttonColor[__name__][id]" form="test_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" /></div>
            <span class="invalid-feedback uniqueBtnC"> {{ 'attribute.validation.unique'|trans }}</span>'>
                    <i class="form-text text-muted mb-3">{{ attributeText.buttonColor.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.buttonColors %}
                        <div class="form-group row">
                            <label for="inputDescription" class="col-sm-2 col-form-label">{{ 'attribute.button_color'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex">
                                    {% if (app.request.get('_route')) == 'test_edit' %}
                                        <input type="color" value="{{ bc.value }}" id="test_attribute_buttonColor_{{ key }}_id" name="test_attribute_buttonColor[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" />
                                    {% else  %}
                                        <input type="color" value="{{ bc | first }}" id="test_attribute_buttonColor_{{ key }}_id" name="test_attribute_buttonColor[{{ key }}][{{ bc| keys |first }}]" form="test_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" />
                                    {% endif %}
                                </div>
                                <span class="invalid-feedback uniqueBtnC"> {{ 'attribute.validation.unique'|trans }}</span>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Testo fono salvos savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-backgroundColor">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#backgroundColor" aria-expanded="false" aria-controls="backgroundColor">
                        <i id="testCaret6" class="fa fa-caret-down transition rotation" ></i>
                        <span class="pl-2">{{ 'backgroundcolor'|trans }} {% if attributes.backgroundColors is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                    </button>
                </h2>
            </div>
            <div id="backgroundColor" class="tab-pane collapse" aria-labelledby="list-backgroundColor list-backgroundColor-list" >
                <div class="card-body backgroundColors" data-prototype='<div><label for="test_attribute_backgroundColor___name___id" class="required">{{'attribute.background_color'|trans}}</label><input type="color" value="#FFFFFF" id="test_attribute_backgroundColor___name___id" name="test_attribute_backgroundColor[__name__][id]" form="test_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" /></div>
            <span class="invalid-feedback uniqueBgC"> {{ 'attribute.validation.unique'|trans }}</span>'>
                    <i class="form-text text-muted mb-3">{{ attributeText.backgroundColor.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.backgroundColors %}
                        <div class="form-group row">
                            <label for="inputDescription" class="col-sm-2 col-form-label">{{ 'attribute.background_color'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex">
                                    {% if (app.request.get('_route')) == 'test_edit' %}
                                        <input type="color" value="{{ bc.value }}" id="test_attribute_backgroundColor_{{ key }}_id" name="test_attribute_backgroundColor[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" />
                                    {% else  %}
                                        <input type="color" value="{{ bc | first }}" id="test_attribute_backgroundColor_{{ key }}_id" name="test_attribute_backgroundColor[{{ key }}][{{ bc| keys |first }}]" form="test_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" />
                                    {% endif %}
                                </div>
                                <span class="invalid-feedback uniqueBgC"> {{ 'attribute.validation.unique'|trans }}</span>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Testo rodymo trukmės savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-displayTime">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#displayTime" aria-expanded="false" aria-controls="displayTime">
                        <i id="testCaret7" class="fa fa-caret-down transition rotation" ></i>
                        <span class="pl-2">{{ 'displaytime'|trans }} {% if attributes.displayTimes is not empty %}<b class="px-2" data-toggle="tooltip" data-placement="right" title="{{ 'requied'|trans }}">*</b> {% endif %}</span>
                    </button>
                </h2>
            </div>
            <div id="displayTime" class="tab-pane collapse" aria-labelledby="list-displayTime list-displayTime-list" >
                <div class="card-body displayTimes" data-prototype='<label for="test_attribute_displayTime___name___id" class="required">{{'attribute.display_time'|trans}}</label>
                        <block>
                         <input type="number" id="test_attribute_displayTime___name___id" name="test_attribute_displayTime[__name__][id]" form="test_form" required="required" class="text-center form-control t" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" min="0" max="9999" maxlength="99999" />
                        <input type="number" id="test_attribute_displayTime___name___type" name="test_attribute_displayTime[__name__][type]" form="test_form" required="required"  class="text-center form-control bool" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}"  min="0" max="1" maxlength="1" />
                        <input type="number" id="test_attribute_displayTime___name___vis" name="test_attribute_displayTime[__name__][vis]" form="test_form" required="required" class="text-center form-control bool" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}"  min="0" max="1" maxlength="1" />
                        </block>'>

                    <i class="form-text text-muted mb-3">{{ attributeText.displayTime.description }}</i>

                    {% set numb = 1 %}
                    {% for key, bc in attributes.displayTimes %}
                        {% set displayTime = bc.value|split(':') %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'attribute.display_time'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex input-group">
                                    {% if (app.request.get('_route')) == 'test_edit' %}
                                        <input type="number" value="{{ displayTime[0] }}" id="test_attribute_displayTime_{{ key }}_id" name="test_attribute_displayTime[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ displayTime[1] }}" id="test_attribute_displayTime_{{ key }}_type" name="test_attribute_displayTime[{{ key }}][type]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ displayTime[2] }}" id="test_attribute_displayTime_{{ key }}_vis" name="test_attribute_displayTime[{{ key }}][vis]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                    {% else  %}
                                        <input type="number" value="{{ bc | first }}" id="test_attribute_displayTime_{{ key }}_id" name="test_attribute_displayTime[{{ key }}][{{ bc| keys |first }}]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ bc.type }}" id="test_attribute_displayTime_{{ key }}_type" name="test_attribute_displayTime[{{ key }}][type]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                        </div>
                                        <input type="number" value="{{ bc.vis }}" id="test_attribute_displayTime_{{ key }}_vis" name="test_attribute_displayTime[{{ key }}][vis]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/0);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                    {% endif %}
                                </div>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Testo nuotraukos savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-picture">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#picture" aria-expanded="false" aria-controls="picture">
                        <i id="testCaret8" class="fa fa-caret-down transition rotation" ></i>
                        <span class="pl-2">{{ 'picture'|trans }}</span>
                    </button>
                </h2>
            </div>
            <div id="picture" class="tab-pane collapse" aria-labelledby="list-picture list-picture-list" >
                <div class="card-body pictures" data-prototype='<input type="file" required id="test_attribute_picture___name___id" name="test_attribute_picture[__name__][id]" form="test_form" class="uniquePicture custom-file-input" accept=".png, .jpg, .jpeg" />
                    <label for="test_attribute_picture___name___id" class="custom-file-label"> {{ 'attribute.file_choose'|trans }} </label>
                    <span class="invalid-feedback uniquePicture"> {{ 'attribute.validation.required'|trans }}</span>'>

                    <span id="pictureIsValid" class="display-hidden"></span>
                    <i class="form-text text-muted mb-3">{{ attributeText.picture.description }}</i>
                    {% for key, pic in attributes.pictures %}
                        <div class="mb-4">
                            <div class="input-group ">
                                <div class="custom-file">
                                    <input type="file" id="test_attribute_picture_{{ key }}_id" name="test_attribute_picture[{{ key }}][{{ pic.id }}]" form="test_form" class="uniquePicture custom-file-input" accept=".png, .jpg, .jpeg" />
                                    <label for="test_attribute_picture_{{ key }}_id" class="custom-file-label"> {{ pic.value }} </label>
                                </div>
                                <div class="input-group-append">
                                </div>
                            </div>
                            <span class="invalid-feedback uniquePicture"> {{ 'attribute.validation.required'|trans }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Testo sukūrimas/atnaujinimas #}
        <div class="card border-light btn-no-top-radius">
            <div class="card-header p-0" id="list-save">
                <h2 class="mb-0">
                    <button class="btn btn-block btn-primary btn-save btn-no-top-radius" type="submit">{{ button_label|default('Save') }}</button>
                </h2>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
