{% extends 'admin.html.twig' %}

{% block title %} {{ 'test.title.index'|trans }} | ETS{% endblock %}


    {% block admin_right_nav %}
    {% endblock %}

    {% block admin_main %}

        <h1 class="d-inline float-left">{{ 'test.title.index'|trans }}</h1>
        <span class="float-right mt-1 " style="max-width: 75%">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                        <span class="pl-2" aria-hidden="true">&times;</span>
                    </button>
                    <span class='alert-message'>{{ message|trans }}</span>
                </div>
            {% endfor %}
        {% endfor %}
        </span>
        <div class="float-none"></div>

        <div class="table-responsive table-header-sticky">
            <table id="tableheader" class="table table-borderless bg-blue mb-0 text-white table-header table-index">
                <thead>
                <tr>
                    <th scope="col" colspan="2">
                        <span>{{ 'test.form.test_name_label'|trans }}</span>
                        <a class="text-light" href="{{ path('test_index', { 'slug':'test_name' , 'sort':data['test_name'] }) }}">
                            <i id="testIndexCaret1" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.sort.name'|trans }}" class="px-2 questionSort pointer fa {{ data['test_name'] }}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <span>{{ 'test.form.test_start_label'|trans }}</span>
                        <a class="text-light" href="{{ path('test_index', { 'slug':'start' , 'sort':data['start'] }) }}">
                            <i id="testIndexCaret3" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.sort.start'|trans }}" class="px-2 questionSort pointer fa {{  data['start'] }}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <span>{{ 'test.form.test_end_label'|trans }}</span>
                        <a class="text-light" href="{{ path('test_index', { 'slug':'end' , 'sort':data['end'] }) }}">
                            <i id="testIndexCaret4" data-toggle="tooltip" data-placement="right" title="{{ 'poppers.sort.end'|trans }}" class="px-2 questionSort pointer fa {{  data['end'] }}"></i>
                        </a>
                    </th>
                    <th scope="col" >
                        <span>{{ 'test.form.test_count'|trans }}</span>
                    </th>
                    <th scope="col" >
                        <span>{{ 'test.form.participation_count'|trans }}</span>
                    </th>
                    <th scope="col">{{ 'actions'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-borderless mb-0 table-index">
                <tbody>
                {% set blank = '<i>' ~ 'blank'|trans ~ '</i>' %}
                {% for test in tests %}
                    <tr>
                        <td colspan="2">
                            <p>{{ test.name|trans }}</p>
                        </td>
                        <td>
                            <p>{% if test.testStart %}{{ test.testStart|date('Y-m-d H:i:s')}}{% else %}{{ blank|raw }}{% endif %}</p>
                        </td>
                        <td>
                            <p>{% if test.testEnd %}{{ test.testEnd|date('Y-m-d H:i:s')}}{% else %}{{ blank|raw }}{% endif %}</p>
                        </td>
                        <td class="text-center">
                            <p>
                                {{ test.testQuestions.count }}
                            </p>
                        </td>
                        <td class="text-center">
                            <p>
                                {{ test.testParticipations.count}}
                            </p>
                        </td>
                        <td class="d-flex justify-content-between">
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.edit'|trans }}"  href="{{ path('test_edit', {'id': test.id}) }}"><i class="fa fa-pencil"></i></a>
                            {% if test.testQuestions.count == 0 %}
                                <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.example'|trans }}" style="color: #62aeff"><i class="fa fa-eye "></i></a>
                            {% else %}
                                <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.example'|trans }}" href="{{ path('show_test_example', {'id': test.id}) }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-eye "></i></a>
                            {% endif %}
                            {% set foo = test.createdAt | date('Ymd') %}
                            {% for word in test.name|split(' ') %}
                                {%  set foo = foo ~ word %}
                            {% endfor %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.export'|trans }}" class="exportFileTest" data-name="{{ foo }}" data-target="{{ test.id }}" href=""><i class="fa fa-file-excel-o"></i></a>
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.copy'|trans }}"  href="{{ path('test_copy', {'id': test.id}) }}"><i class="fa fa-copy"></i></a>
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.show'|trans }}"  href="{{ path('test_show', {'id': test.id}) }}"><i class="fa fa-file-o"></i></a>
                            <a data-tooltip="tooltip" data-placement="right" title="{{ 'poppers.delete'|trans }}"  href="" data-toggle="modal" data-target="#testModal{{ test.id }}Delete"><i class="fa fa-trash"></i></a>

                            <div class="modal fade" id="testModal{{ test.id }}Delete" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="testModalLabel">{{ 'test.delete_message'|trans }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span> {{ 'test.delete_helper'|trans }}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="w-100 d-flex justify-content-between">
                                                {{ include('test/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% else %}
                    <tr class="text-center">
                        <td colspan="7"><i>{{ 'empty'|trans }}</i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}
