{% extends 'admin.html.twig' %}

{% block title %} {{ 'test.title.show'|trans }} | ETS{% endblock %}

{% block admin_right_nav %}
    <ul class="section-nav">
        <li class="toc-entry">
            <p>{{ 'side_nav.navigation'|trans }}:</p>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-general" data-target="#home" data-target-animation="#testCaret1" aria-controls="home">{{ 'general'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-activation" data-target="#activation" data-target-animation="#testCaret2" aria-controls="activation">{{ 'activation'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-questions" data-target="#questions" data-target-animation="#testCaret3" aria-controls="questions">{{ 'questions'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-time" data-target="#time" data-target-animation="#testCaret4" aria-controls="time">{{ 'time'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-buttonColor" data-target="#buttonColor" data-target-animation="#testCaret5" aria-controls="buttonColor">{{ 'buttoncolor'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-backgroundColor" data-target="#backgroundColor" data-target-animation="#testCaret6" aria-controls="backgroundColor">{{ 'backgroundcolor'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-displayTime" data-target="#displayTime" data-target-animation="#testCaret7" aria-controls="displayTime">{{ 'displaytime'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-picture" data-target="#picture" data-target-animation="#testCaret8" aria-controls="picture">{{ 'picture'|trans }}</a>
        </li>
    </ul>

{% endblock %}

{% block admin_main %}
<h1>{{ 'test.title.show'|trans }}</h1>
    {% set blank = 'blank'|trans %}

<div class="accordion">

    {# Testo informacija. Testo formos laukeliai #}
        <div class="card bg-light btn-no-bottom-radius border-bottom-0">
            <div class="card-header p-0" id="list-general">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                        <i id="testCaret1" class="fa fa-caret-down transition"></i>
                        <span class="pl-2">{{ 'general'|trans }}</span>
                    </button>
                </h2>
            </div>
            <div id="home" class="tab-pane show " aria-labelledby="list-general list-general-list">
                <div class="card-body">
                    <fieldset disabled>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'test.form.test_name_label'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{ test.name }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'test.form.description_label'|trans }}</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" >{{ test.description ? test.description : blank }}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'test.form.code'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{ test.code }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">{{ 'test.form.prev_button_label'|trans }}</label>
                            <div class="col-sm-10 my-2 pl-5 custom-control custom-switch">
                                <input type="checkbox" id="{{ test.id }}Switch" class="custom-control-input" disabled {{ test.prevButton ? 'checked' : "" }} >
                                <label class="custom-control-label" for="{{ test.id }}Switch">{{ 'test.form.prev_button_description'|trans }}</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo aktyvacijos informacija. Testo formos aktyvacijos laukeliai #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header bg-transparent p-0" id="list-activation">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#activation" aria-expanded="false" aria-controls="activation">
                        <i id="testCaret2" class="fa fa-caret-down transition" ></i>
                        <span class="pl-2">{{ 'activation'|trans }}</span>
                    </button>
                </h2>
            </div>
            <div id="activation" class="tab-pane collapse show" aria-labelledby="list-activation list-activation-list" >
                <div class="card-body">
                    <fieldset disabled>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'test.form.created_at_label'|trans }}</label>
                            <div class="col-sm-10 input-group">
                                <input type="text" class="form-control" value="{{ test.createdAt|date('Y-m-d') }}">
                                <div class="input-group-append" data-toggle="datetimepicker" data-target="#datetimepicker2">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'test.form.test_start_label'|trans }}</label>
                            <div class="col-sm-10 input-group">
                                <input type="text" class="form-control" value="{% if test.testStart %}{{ test.testStart|date('Y-m-d H:i:s')}}{% else %}{{ blank}}{% endif %}">
                                <div class="input-group-append" data-toggle="datetimepicker" data-target="#datetimepicker2">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row date">
                            <label class="col-sm-2 col-form-label">{{ 'test.form.test_end_label'|trans }}</label>
                            <div class="col-sm-10 input-group">
                                <input type="text" class="form-control " value="{% if test.testEnd %}{{ test.testEnd|date('Y-m-d H:i:s')}}{% else %}{{ blank|raw }}{% endif %}">
                                <div class="input-group-append" data-toggle="datetimepicker" data-target="#datetimepicker2">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">{{ 'test.form.is_active_label'|trans }}</label>
                            <div class="col-sm-10 my-2 pl-5 custom-control custom-switch">
                                <input type="checkbox" id="{{ test.id }}Switch" class="custom-control-input" disabled {{ test.isActive ? 'checked' : "" }} >
                                <label class="custom-control-label" for="{{ test.id }}Switch">{{ test.isActive ? 'test.active'|trans : 'test.inactive'|trans }}</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo klausimų informacija. #}
        <div class="card bg-light btn-no-top-radius ">
            <div class="card-header bg-transparent p-0" id="list-questions">
                <h2 class="mb-0">
                    {% if questions is not empty %}
                        <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#questions" aria-expanded="false" aria-controls="questions">
                            <i id="testCaret3" class="fa fa-caret-down transition " ></i>
                            <span class="pl-2">{{ 'questions'|trans }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none" data-target="#answers" aria-expanded="false" aria-controls="answers">
                            <i id="testCaret3" class=" disabled-menu fa fa-caret-down transition" ></i>
                            <span class="disabled-menu pl-2">{{ 'questions'|trans }}</span>
                        </button>
                    {% endif %}
                </h2>
            </div>
            {% if questions is not empty %}
            <div id="questions" class="tab-pane collapse show" aria-labelledby="list-questions list-questions-list" >
            {% else %}
            <div id="questions" class="tab-pane collapse" aria-labelledby="list-questions list-questions-list" >
            {% endif %}
                <div class="card-body">
                    <fieldset disabled>
                        {% set anwerNumeber = 0 %}
                        {% for q in questions %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{ 'test.form.test_question_label'|trans }} {{ anwerNumeber +1 }}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="{{ q.question_name }}">
                                </div>
                            </div>
                            {% set anwerNumeber = anwerNumeber +1 %}
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo laiko savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-time">
                <h2 class="mb-0">
                    {% if attributes.times is not empty %}
                        <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#time" aria-expanded="false" aria-controls="time">
                            <i id="testCaret4" class="fa fa-caret-down transition " ></i>
                            <span class="pl-2">{{ 'time'|trans }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none" data-target="#time" aria-expanded="false" aria-controls="time">
                            <i id="testCaret4" class=" disabled-menu fa fa-caret-down transition" ></i>
                            <span class="disabled-menu pl-2">{{ 'time'|trans }}</span>
                        </button>
                    {% endif %}
                </h2>
            </div>
            {% if attributes.times is not empty %}
            <div id="time" class="tab-pane collapse show" aria-labelledby="list-time list-time-list" >
            {% else %}
            <div id="time" class="tab-pane collapse" aria-labelledby="list-time list-time-list" >
            {% endif %}
                <div class="card-body">
                    <fieldset disabled>
                    <i class="form-text text-muted mb-3">{{ attributeText.time.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.times %}
                        {% set Time = bc.value|split(':') %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'attribute.time'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex input-group">
                                    <input type="number" value="{{ Time[0] }}" id="test_attribute_time_{{ key }}_id" name="test_attribute_time[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ Time[1] }}" id="test_attribute_time_{{ key }}_type" name="test_attribute_time[{{ key }}][type]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ Time[2] }}" id="test_attribute_time_{{ key }}_vis" name="test_attribute_time[{{ key }}][vis]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_vis'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                </div>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo mygtuko salvos savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-buttonColor">
                <h2 class="mb-0">
                    {% if attributes.buttonColors is not empty %}
                        <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#buttonColor" aria-expanded="false" aria-controls="buttonColor">
                            <i id="testCaret5" class="fa fa-caret-down transition " ></i>
                            <span class="pl-2">{{ 'buttoncolor'|trans }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none" data-target="#buttonColor" aria-expanded="false" aria-controls="buttonColor">
                            <i id="testCaret5" class=" disabled-menu fa fa-caret-down transition" ></i>
                            <span class="disabled-menu pl-2">{{ 'buttoncolor'|trans }}</span>
                        </button>
                    {% endif %}
                </h2>
            </div>
            {% if attributes.buttonColors is not empty %}
            <div id="buttonColor" class="tab-pane collapse show" aria-labelledby="list-buttonColor list-buttonColor-list" >
            {% else %}
            <div id="buttonColor" class="tab-pane collapse" aria-labelledby="list-buttonColor list-buttonColor-list" >
            {% endif %}
                <div class="card-body">
                    <fieldset disabled>
                    <i class="form-text text-muted mb-3">{{ attributeText.buttonColor.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.buttonColors %}
                        <div class="form-group row">
                            <label for="inputDescription" class="col-sm-2 col-form-label">{{ 'attribute.button_color'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex">
                                    <input type="color" value="{{ bc.value }}" id="test_attribute_buttonColor_{{ key }}_id" name="test_attribute_buttonColor[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{'attribute.button_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBtnC" maxlength="255" />
                                </div>
                                <span class="invalid-feedback uniqueBtnC"> {{ 'attribute.validation.unique'|trans }}</span>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo fono salvos savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-backgroundColor">
                <h2 class="mb-0">
                    {% if attributes.backgroundColors is not empty %}
                        <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#backgroundColor" aria-expanded="false" aria-controls="backgroundColor">
                            <i id="testCaret6" class="fa fa-caret-down transition " ></i>
                            <span class="pl-2">{{ 'backgroundcolor'|trans }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none" data-target="#backgroundColor" aria-expanded="false" aria-controls="backgroundColor">
                            <i id="testCaret6" class=" disabled-menu fa fa-caret-down transition" ></i>
                            <span class="disabled-menu pl-2">{{ 'backgroundcolor'|trans }}</span>
                        </button>
                    {% endif %}
                </h2>
            </div>
            {% if attributes.backgroundColors is not empty %}
            <div id="backgroundColor" class="tab-pane collapse show" aria-labelledby="list-backgroundColor list-backgroundColor-list" >
            {% else %}
            <div id="backgroundColor" class="tab-pane collapse" aria-labelledby="list-backgroundColor list-backgroundColor-list" >
            {% endif %}
                <div class="card-body">
                    <fieldset disabled>
                    <i class="form-text text-muted mb-3">{{ attributeText.backgroundColor.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.backgroundColors %}
                        <div class="form-group row">
                            <label for="inputDescription" class="col-sm-2 col-form-label">{{ 'attribute.background_color'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex">
                                    <input type="color" value="{{ bc.value }}" id="test_attribute_backgroundColor_{{ key }}_id" name="test_attribute_backgroundColor[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{'attribute.background_color_placeholder'|trans}}" class="form-control btn-no-right-radius uniqueBgC" maxlength="255" />
                                </div>
                                <span class="invalid-feedback uniqueBgC"> {{ 'attribute.validation.unique'|trans }}</span>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo rodymo trukmės savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-displayTime">
                <h2 class="mb-0">
                    {% if attributes.displayTimes is not empty %}
                        <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse" data-target="#displayTime" aria-expanded="false" aria-controls="displayTime">
                            <i id="testCaret7" class="fa fa-caret-down transition " ></i>
                            <span class="pl-2">{{ 'displaytime'|trans }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none" data-target="#displayTime" aria-expanded="false" aria-controls="displayTime">
                            <i id="testCaret7" class=" disabled-menu fa fa-caret-down transition" ></i>
                            <span class="disabled-menu pl-2">{{ 'displaytime'|trans }}</span>
                        </button>
                    {% endif %}
                </h2>
            </div>
            {% if attributes.displayTimes is not empty %}
            <div id="displayTime" class="tab-pane collapse show"  aria-labelledby="list-displayTime list-displayTime-list" >
            {% else %}
            <div id="displayTime" class="tab-pane collapse"  aria-labelledby="list-displayTime list-displayTime-list" >
            {% endif %}
                <div class="card-body">
                    <fieldset disabled>
                    <i class="form-text text-muted mb-3">{{ attributeText.displayTime.description }}</i>
                    {% set numb = 1 %}
                    {% for key, bc in attributes.displayTimes %}
                        {% set displayTime = bc.value|split(':') %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ 'attribute.display_time'|trans ~ ' ' ~ numb ~ ' ' ~ '*' }}</label>
                            <div class="col-sm-10 mb-3">
                                <div class="d-flex input-group">
                                    <input type="number" value="{{ displayTime[0] }}" id="test_attribute_displayTime_{{ key }}_id" name="test_attribute_displayTime[{{ key }}][{{ bc.id }}]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_time'|trans }}" class="text-center form-control " min="0" max="9999" maxlength="99999" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 99999) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ displayTime[1] }}" id="test_attribute_displayTime_{{ key }}_type" name="test_attribute_displayTime[{{ key }}][type]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_type'|trans }}" class="text-center form-control"  min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-left-0 border-right-0 font-weight-bold"> : </span>
                                    </div>
                                    <input type="number" value="{{ displayTime[2] }}" id="test_attribute_displayTime_{{ key }}_vis" name="test_attribute_displayTime[{{ key }}][vis]" form="test_form" required="required" placeholder="{{ 'attribute.display_time_placeholder_skip'|trans }}" class="text-center form-control" min="0" max="1" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength||0/1);this.value=(this.value < 0 || this.value > 1) ? (0/0) : this.value;" />
                                </div>
                            </div>
                            {% set numb = numb +1 %}
                        </div>
                    {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>

        {# Testo nuotraukos savybių informacija #}
        <div class="card bg-light btn-no-bottom-radius btn-no-top-radius border-bottom-0">
            <div class="card-header p-0" id="list-picture">
                <h2 class="mb-0">
                    {% if attributes.pictures is not empty %}
                        <button class="btn btn-link btn-block text-left collapsed text-decoration-none text-dark card-collapse p-card" type="button" data-toggle="collapse"  data-target="#picture" aria-expanded="false" aria-controls="picture">
                            <i id="testCaret8" class="fa fa-caret-down transition " ></i>
                            <span class="pl-2">{{ 'picture'|trans }}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark p-card" type="button" data-toggle="none"  data-target="#picture" aria-expanded="false" aria-controls="picture">
                            <i id="testCaret8" class=" disabled-menu fa fa-caret-down transition" ></i>
                            <span class="disabled-menu pl-2">{{ 'picture'|trans }}</span>
                        </button>
                    {% endif %}
                </h2>
            </div>
            {% if attributes.pictures is not empty %}
            <div id="picture" class="tab-pane collapse show" aria-labelledby="list-picture list-picture-list" >
            {% else %}
            <div id="picture" class="tab-pane collapse" aria-labelledby="list-picture list-picture-list" >
            {% endif %}
                <div class="card-body">
                    <fieldset disabled>
                        <i class="form-text text-muted mb-3">{{ attributeText.picture.description }}</i>
                        {% if attributes.pictures is not null %}
                            {% for key, pic in attributes.pictures %}
                                {% if pic.value == 'Pašalinta' or pic.value is not defined %}
                                    {% set link = 'build/images/' ~ 'Default.jpg' %}
                                {% else %}
                                    {% set link = 'build/images/' ~ pic.value %}
                                {% endif %}
                                <div class="mb-4">
                                    <div class="input-group ">
                                        <div class="custom-file">
                                            <input type="file" id="test_attribute_picture_{{ key }}_id" name="test_attribute_picture[{{ key }}][{{ pic.id }}]" form="test_form" class="uniquePicture custom-file-input" accept=".png, .jpg, .jpeg" />
                                            <label for="test_attribute_picture_{{ key }}_id" class="custom-file-label"> {{ pic.value }} </label>
                                        </div>
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                    <span class="invalid-feedback uniquePicture"> {{ 'attribute.validation.required'|trans }}</span>
                                </div>
                                <div class="text-center py-2">
                                    <img  src="{{ asset(link) }}" alt="{{ link }}">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
