
<nav class="navbar navbar-dark bg-primary border-bottom shadow-sm bd-navbar">
    <a class="navbar-brand" href="{{ path('question_index') }}">KTU-ETS</a>
        {% if not app.user %}
        <button type="button" class="px-2 btn btn-outline-light dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">{{ 'button.login'|trans }}</button>
        {{ include('security/login.html.twig') }}
        {% else  %}
        <a class="px-2 btn btn-outline-light" href="{{ path('app_logout') }}">{{ 'button.logout'|trans }}</a>
        {%  endif %}
</nav>