{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

            <!-- Renders a link tag (if your module requires any CSS) -->
            <link rel="stylesheet" href=" {{ asset('build/layout.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

            <!-- Renders app.js & a webpack runtime.js file -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/layout.js') }}"></script>
            <script src="{{ asset('build/manifest.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
