{% extends 'admin.html.twig' %}

{% block title %} {{ 'user.title.index'|trans }} | ETS{% endblock %}


    {% block admin_right_nav %}
    {% endblock %}

    {% block admin_main %}

        <h1 class="d-inline float-left">{{ 'user.title.index'|trans }}</h1>
        <span class="float-right mt-1" style="max-width: 75%">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                        <span class="pl-2" aria-hidden="true">&times;</span>
                    </button>
                    <span class='alert-message'>{{ message|trans }}</span>
                </div>
            {% endfor %}
        {% endfor %}
        </span>
        <div class="float-none"></div>

        <div class="table-responsive table-header-sticky">
            <table id="tableheader" class="table table-borderless bg-blue mb-0 text-white table-header table-index">
                <thead>
                <tr>
                    <th scope="col">
                        <span>{{ 'user.form.email_type'|trans }}</span>
                    </th>
                    <th scope="col">
                        <span>{{ 'user.form.name_label'|trans }}</span>
                    </th>
                    <th scope="col">
                        <span>{{ 'user.form.last_name_label'|trans }}</span>
                    </th>
                    <th scope="col">
                        <span>{{ 'user.form.phone_label'|trans }}</span>
                    </th>
                    <th scope="col">{{ 'actions'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless mb-0 table-index">
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email|trans }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.phone }}</td>
                        <td class="d-flex justify-content-around">
                            <a data-toggle="tooltip" data-placement="right" title="{{ 'poppers.edit'|trans }}"  href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-pencil"></i></a>
                            <a data-tooltip="tooltip" data-placement="right" title="{{ 'poppers.delete'|trans }}"  href="" data-toggle="modal" data-target="#userModal{{ user.id }}Delete"><i class="fa fa-trash"></i></a>

                            <div class="modal fade" id="userModal{{ user.id }}Delete" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="userModalLabel">{{ 'user.delete_message'|trans }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-between">
                                                {{ include('user/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}
