{% extends 'admin.html.twig' %}

{% block title %} {{ 'user.title.new'|trans }} | ETS{% endblock %}

{% block admin_right_nav %}
    <ul class="section-nav">
        <li class="toc-entry">
            <p>{{ 'side_nav.navigation'|trans }}:</p>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-general" data-target="#home" data-target-animation="#userCaret1" aria-controls="home">{{ 'general'|trans }}</a>
        </li>
        <li class="toc-entry">
            <a class="btn btn-block btn-link text-left sidebar-collapse" href="#list-save">{{ 'button.new'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block admin_main %}

    {% for error in form.vars['errors'] %}
        <div class="py-3 mx-auto w-100 alert alert-danger">
            <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class='text-decoration-none alert-message'>
                    {{ error.message|trans }}
            </span>
        </div>
    {% endfor %}
    <h1>{{ 'user.title.new'|trans }}</h1>
    {{ include('user/_form.html.twig', {'button_label': 'button.new'|trans}) }}

{% endblock %}