{% extends 'base.html.twig' %}

{% block title %} {{ 'password_change'|trans }} | ETS{% endblock %}

{% block body %}
    {{ include('_form_navbar.html.twig') }}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xl-5 mt-25 text-center">
            </div>
        </div>
        {{ form_start(form, { 'attr': {'class':'needs-validation', 'novalidate':''}}) }}
        <div class="row justify-content-center">
            <div class="col-md-3 col-xl-3 ">
                {% for error in form.vars['errors'] %}
                <div class="mx-auto w-100 alert alert-danger">
                    <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class='text-decoration-none alert-message'>
                        {{ error.message|trans }}
                    </span>
                </div>
                {% endfor %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="mx-auto w-100 alert alert-{{ label }}">
                            <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class='alert-message'>{{ message|trans }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-xl-3 text-center">
                <h1 class="mb-5 my-3 text-primary">{{ 'account_password_reset_title'|trans }}:</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-xl-3">
                <div class="form-group">
                    {{ form_label(form.email, 'account_password_reset_email'|trans ~ ' *', { 'label_attr': { 'class':' col-sm-12 col-form-label'} }) }}
                    <div class="col-sm-12 ">
                        {{ form_widget(form.email, { 'attr': { 'class':'form-control btn-no-bottom-radius'} }) }}
                        <div class="mb-3 invalid-feedback ">
                            {{ 'user.validation.email'|trans }}
                        </div>
                        <button class="mt-3 btn btn-block btn-primary btn-save btn-no-top-radius" type="submit">{{ 'button.confirm'|trans  }}</button>
                    </div>
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
