{% extends 'base.html.twig' %}

{% block title %} {{ 'password_change'|trans }} | ETS{% endblock %}

{% block body %}
    {{ include('_form_navbar.html.twig') }}

    {{ form_start(form, { 'attr': {'class':'needs-validation', 'novalidate':''}}) }}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xl-5 mt-25 text-center">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-xl-3 ">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="mx-auto w-100 alert alert-{{ label }}">
                            <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class='alert-message'>{{ message|trans }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-xl-3 text-center">
                <h1 class="mb-5 my-3 text-primary">{{ 'account_password_reset_title'|trans }}:</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-xl-3">
                <div class="form-group">
                    <div class="form-group">
                        {{ form_label(form.password.first, 'user.form.password'|trans ~ ' *', { 'label_attr': { 'class':'col-sm-12 col-form-label'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.password.first, { 'attr': { 'class':'form-control', 'required':'required'  } }) }}
                            <div class="invalid-feedback ">
                                {{ 'user.validation.password'|trans }}
                            </div>
                            <small class="form-text text-muted">
                                {{ 'user.form.password_help'|trans }}
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.password.second, 'user.form.repeated_password'|trans ~ ' *', { 'label_attr': { 'class':'col-sm-12 col-form-label'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.password.second, { 'attr': { 'class':'form-control', 'required':'required'  } }) }}
                            <div class="invalid-feedback ">
                                {{ 'user.validation.password'|trans }}
                            </div>
                            <small class="form-text text-muted">
                                {{ 'user.form.password_help'|trans }}
                            </small>
                        </div>
                    </div>
                    <button class=" btn btn-block btn-primary btn-save btn-no-top-radius" type="submit">{{ 'button.confirm'|trans  }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
